* {
    margin: 0%;
    padding: 0%;
    
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
}


.primary-box{
    background-color: white;
    height: 100vh;
    padding-left: 22vw;
    padding-top: 15vh;
    position: absolute;
    width: 66vw;
}
.secondary-box{
    position: absolute;
    height: 100vh;
    background-color: #5DCA8F;
    width: 34vw;
    margin-left: 66vw;
}
.inner{
    margin-top: 10vh;
    width: 100%;
}
.form{
    width: 50%;    
}
.forgot{ font-size: x-small; color: black;}
.new{ font-size: x-small; color: black;}
.new:hover{color: blue;}
.forgot:hover{color: blue;}
.logo{
    position: absolute;
    margin-top: 5%;
    width: 70%;
    margin-left: 15%;
    transition: 0.4s;
}
.logo:hover{
    margin-left: 13%;
    width: 74%;
}

.bg2{
    position: absolute;
    width: 125%;
    height: 111%;
    transform: translateX(-14.7%) translateY(-4%);
}