.box{
    position: absolute;
    height: 100vh;
    /* background-color: #5DCA8F; */
    width: 500px;
    right: -20px;
    z-index: 3;
}

.logo{
    position: absolute;
    margin-top: 2%;
    width: 200px;
    height: auto;
    right: 150px;
    /* transform: translateX(-50%); */
    transition: 0.4s;
    z-index: 10;
    cursor: pointer;
}
@media only screen and (max-width:500px) {
    .logo{
        margin: 0;
        margin-top: 5%;
        right: calc((100vw - 200px) / 2);
        transform: none;
        padding: 0;
    }
    .bg2 {
        overflow: hidden;
    }
}
.bg2{
    position: absolute;
    width: 125%;
    height: 111%;
    transform: translateX(-14.7%) translateY(-4%);
}