.navbar{
    top: 0;
    position: fixed;
    width: 100vw;
    min-height: 80px;
    height: 13vh;
    z-index: 10;
    transition: 500ms;
    background-color: #35A24E;
}
.ull{

    position: relative;
    display: inline;
    float: right;
    top: 55%;
    width: 60%;
    text-align: right;
    transform: translateY(-50%);
}
.nav{
    display: inline;
    /* padding-left: 5%; */
    padding-right: 9%;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.35s;
    color: gray;
    cursor:pointer;
    /* float; */
}

.nav3{
    text-decoration: none;
    color: whitesmoke;
}
.profile{
    width: 8vh;
    height: 8vh;
    margin-top: -1.5vh;
    margin-right: 3vw;
}
.logo{
    height: 90%;
    top: 5%;
    width: auto;
    margin-left: 4.5%;
    transition: 0.4s;
}
.logo:hover{
    height: 94%;
    top: 3%;
    width: auto;
    margin-left: 4%;
}