.box{
    left: 0;
    top: 0;
    position: fixed;
    width: 150px;
    height: 100vh;
    background-color: #5DCA8F;
}
.profile{
    width: 100px;
    height: 100px;
    margin-left: 25px;
    margin-top: 60px;
    margin-bottom: 100px;
}
.logo{
    width: 100px;
    height: 100px;
    margin-left: 25px;
    margin-bottom: 40px;
}